@charset "UTF-8";

body {
  background-color: #fff;
  width: 1024px;
  margin: 0px auto 0px auto;
}

header hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hgroup h1,
hgroup h2 {
  margin: 6px 0 0 0;
}

header ul {
  display: flex;
  justify-content: space-evenly;
}

header li {
  list-style: none;
}

header li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer small {
  width: 50%;
  text-align: center;
}

footer nav {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  padding-right: 20px;
}

footer a {
  font-size: 11px;
}

article,
aside {
  margin: 20px;
}

.citacao {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

q {
  font-size: 13.5px;
}

#titulo {
  text-align: center;
}

.texto-pai {
  display: flex;
}

.texto {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.historia_h2 {
  align-self: flex-start;
}

/* #historia_table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

#historia_table tr,
#historia_table th {
  border: solid 1px;
}

#historia_table tr,
#historia_table td {
  border: solid 1px;
}

/*CSS exclusivo da pagina mestre*/
#mestre_texto-pai {
  display: flex;
}

.mestre_texto {
  display: flex;
  flex-direction: column;
}

#mestre_caixa-pai {
  display: flex;
}

#mestre_article {
  width: 60%;
}

#mestre_aside {
  width: 30%;
}

.mestre_aside-caixa {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}

#mestre_caixa-pai {
  display: flex;
}

.mestre02_texto {
  display: flex;
  flex-direction: column;
}

.mestre02_article {
  width: 60%;
}
