@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

*{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
}

body{
  width: 1024px;
  margin: 0 auto;
  font-size: 20px;
}

footer, footer a{
  background-color: #001274;
  color: #fff;
}

h2, h3, h4, h5{
  color: #027e10;
}

/*Tables*/
table{
  border-collapse: collapse;
}

tr:nth-child(odd){
  background-color: lightgray;
}

tr:nth-child(even){
  background-color: whitesmoke;
}

td{
  height: 40px;
}

th{
  background-color: #e90305;
  color: #fff;
  height: 45px;
}

.w-1-de-5{
  width: 20%;
}

.w-2-de-5{
  width: 40%;
}

.w-4-de-5{
  width: 80%;
}

.w-1-de-2{
  width: 50%;
}

.w-2-de-2{
  width: 100%;
}

.w-1-de-3{
  width: 30%;
}

.w-2-de-3, .w-3-de-5{
  width: 60%;
}

.w-3-de-3{
  width:90%;
}

.flex{
  display: flex;
}

.flex-vertical{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-j-evenly{
  justify-content: space-evenly;
}

.flex-j-around{
  justify-content: space-around;
}

.flex-j-between{
  justify-content: space-between;
}

.flex-reverse{
  flex-direction: row-reverse;
}

.align-s-center{
  align-self: center;
}

.m-none{
  margin: 0;
}

.p-none{
  padding: 0;
}

.m-vertical_x-pequeno{
  margin: 10px 0;
}

.p-around_x-pequeno{
  padding: 10px;
}

.p-around_pequeno{
  padding: 20px;
}

.p-vertical_pequeno{
  padding: 20px 0;
}

.p-horizontal_pequeno, footer{
  padding: 0 20px;
}

.p-top_pequeno{
  padding-top: 20px;
}

.p-top_medio{
  padding-top: 30px;
}

.p-bottom_pequeno{
  padding-bottom: 20px;
}

.flex-a-end{
  align-items: flex-end;
}

.flex-a-center{
  align-items: center;
}

.oculto{
  display: none;
}

.l-style-none{
  list-style: none;
}

.menu h4{
  font-size: 22px;
}

.menu h4, .menu a, .menu p{
  color: black;
}

.text-a-center, td:first-child{
  text-align: center;
}

.card-menu{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.citacao{
  font-size: 18px;
  height: 130px;
  background-color: #e90305;
}

.cabecalho{
  background-color: #fde002;
}

.cabecalho h1, .cabecalho h2, .cabecalho a, .citacao blockquote, .citacao p, button{
  color: white;
}

.referencias a, .mestres a, aside a{
  color: #001274;
}

/*Home*/
#index hgroup{
  font-size: 42px;

}

#index hgroup h1, #index hgroup h2{
  color: #fde002;
}

#index q, .titulo{
  font-size: 25px;
}

.autor{
  font-size: 15px;
}

/*Música*/
.card-musica, .card-curiosidades, .card-index{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.card-curiosidades{
  padding: 15px;
}

/*Formulario*/
.form label, button{
  margin: 5px 0;
}

.form input, button, textarea{
  padding: 5px 0;
  font-size: 20px;
}

button{
  background-color: #e90305;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

/* Quem somos */

.quem-somos{
  height: 550px;
}